# Required for Maximum Common Subgraph logic
numpy==1.21.1
ipykernel==6.15.1
matplotlib==3.5.3
# Additional requirements for Graph Matching Network
dm-sonnet==1.23
protobuf==3.6.1
networkx==2.3
tensorflow==1.14
six==1.12